{include file='App/Back/View/Public/header.html'}
    <!-- END HEADER -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START SIDEBAR -->
        {include file='App/Back/View/Public/sidebar.html'}
        <!-- END SIDEBAR -->

        <!-- START PAGE -->
        <div id="page">
            <!-- start page title -->
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">	<h2>评论管理</h2>	<p>评论列表</p></div>

                    <div class="clear"></div>
                </div>
            </div>
            <!-- end page title -->

            <!-- START CONTENT -->
            <div class="content">
                <!-- START TABLE -->
                <div class="simplebox grid740">

                    <div class="titleh">
                        <h3>评论列表</h3>
                    </div>

                    <table id="myTable" class="tablesorter">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>作者</th>
                            <th>内容</th>
                            <th>博文名</th>
                            <th>评论时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach from=$comments key=k item=comment}
                        <tr>
                            <td>{$k+1}</td>
                            <td>{$comment.u_username}</td>
                            <td>{$comment.c_content}</td>
                            <td>{$comment.a_name}</td>
                            <td>{$comment.c_time|date_format:'%Y-%m-%d'}</td>
                            <td>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <ul class="pagination">
                        {$pagestring}
                    </ul>
                </div>
                <!-- END TABLE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END PAGE -->
        <div class="clear"></div>
    </div>
    <!-- END MAIN -->

    <!-- START FOOTER -->
    {include file='App/Back/View/Public/footer.html'}
    <!-- END FOOTER -->
</div>
</body>
</html>