<script type="text/javascript" src="Vendor/ckeditor/ckeditor.js"></script>
    <!-- START HEADER -->
    {include file='App/Back/View/Public/header.html'}
    <!-- END HEADER -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START SIDEBAR -->
        {include file='App/Back/View/Public/sidebar.html'}
        <!-- END SIDEBAR -->

        <!-- START PAGE -->
        <div id="page">
            <!-- start page title -->
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">	<h2>博文管理</h2>	<p>添加博文</p></div>

                    <div class="clear"></div>
                </div>
            </div>
            <!-- end page title -->

            <!-- START CONTENT -->
            <div class="content">
                <div class="simplebox grid740" style="z-index: 720;">
                    <div class="titleh" style="z-index: 710;">
                        <h3>添加博文</h3>
                    </div>
                    <div class="body" style="z-index: 690;">

                        <form id="form2" name="form2" method="post" action="index.php">
                        <input type="hidden" name="p" value="back" />
                        <input type="hidden" name="m" value="article" />
                        <input type="hidden" name="a" value="insert" />
                            <div class="st-form-line" style="z-index: 680;">
                                <span class="st-labeltext">标题</span>
                                <input name="title" type="text" class="st-forminput" style="width:510px" value="">
                                <div class="clear" style="z-index: 670;"></div>
                            </div>
                            <div class="st-form-line">
                                <span class="st-labeltext">发布日期</span>
                                <!-- start default date picker -->
                                <script type="text/javascript">
                                    $(function() {
                                        $("#datepicker").datepicker();
                                    });
                                </script>
                                <input type="text" id="datepicker" class="datepicker-input" style="width:180px;" name="publishtime">
                                <!-- end default date picker -->
                                <div class="clear" style="z-index: 510;"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 640;">
                                <span class="st-labeltext">分类</span>
                                <select class="uniform" name="category">
                                    {foreach from=$categories item='cat'}
                                    <option value="{$cat.id}">{'--'|str_repeat:$cat.level}{$cat.c_name}</option>
                                    {/foreach}
                                </select>
                                <div class="clear"></div>
                            </div>
                            <div class="st-form-line">
                                <span class="st-labeltext">状态</span>
                                <select class="uniform" name="status">
                                    <option value="1">草稿</option>
                                    <option value="2" selected="selected">公开</option>
                                    <option value="3">隐私</option>
                                </select>
                                <div class="clear"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 620;">
                                <span class="st-labeltext">置顶</span>
                                <label class="margin-right10">
                                    <div class="radio">
                                        <span><input type="radio" name="toped" class="uniform" value="1"></span>
                                    </div> 置顶
                                </label>
                                <label class="margin-right10">
                                    <div class="radio">
                                        <span><input type="radio" name="toped" class="uniform" value="2" checked></span>
                                    </div> 不置顶
                                </label>

                                <div class="clear" style="z-index: 610;"></div>
                            </div>

                            <!-- START jWYSIWYG TEXT EDITOR -->
                            <div class="simplebox grid740">
                                <div class="titleh">
                                    <h3>内容</h3>
                                </div>
                                <div class="body">
                                    <textarea class="st-forminput ckeditor" rows="5" cols="47" style="width:96.5%;" name="content"></textarea>
                                    <script>CKEDITOR.replace('content')</script>
                                </div>

                            </div>
                            <!-- END jWYSIWYG TEXT EDITOR -->

                            <div class="button-box" style="z-index: 460;">
                                <input type="submit" name="button" id="button" value="提交" class="st-button">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END PAGE -->
        <div class="clear"></div>
    </div>
    <!-- END MAIN -->

    <!-- START FOOTER -->
    {include file='App/Back/View/Public/footer.html'}
    <!-- END FOOTER -->
</div>
</body>
</html>