
    <!-- START HEADER -->
    {include file='App/Back/View/Public/header.html'}
    <!-- END HEADER -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START SIDEBAR -->
        {include file='App/Back/View/Public/sidebar.html'}
        <!-- END SIDEBAR -->

        <!-- START PAGE -->
        <div id="page">
            <!-- start page title -->
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">	<h2>博文管理</h2>	<p>博文列表</p></div>

                    <div class="clear"></div>
                </div>
            </div>
            <!-- end page title -->

            <!-- START CONTENT -->
            <div class="content">
                <div class="simplebox grid740" style="z-index: 720;">
                    <div class="titleh" style="z-index: 710;">
                        <h3>搜索</h3>
                    </div>
                    <div class="body" style="z-index: 690;">

                        <form id="form2" name="form2" method="post" action="">
                            <div class="st-form-line" style="z-index: 680;">
                                <span class="st-labeltext">标题</span>
                                <input name="title" type="text" class="st-forminput" style="width:510px" value="">
                                <div class="clear" style="z-index: 670;"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 640;">
                                <span class="st-labeltext">分类</span>
                                <select class="uniform" name="category_id">
                                    <option value="0">任意</option>
                                    <option value="1">科技1</option>
                                    <option value="5">----IT</option>
                                    <option value="6">----生物</option>
                                    <option value="7">--------鸟类</option>
                                    <option value="2">武侠</option>
                                    <option value="3">旅游</option>
                                    <option value="4">美食</option>
                                    <option value="8">----湘菜</option>
                                    <option value="11">--------跳跳蛙</option>
                                    <option value="12">--------口味虾</option>
                                    <option value="13">--------臭豆腐</option>
                                    <option value="9">----粤菜</option>
                                    <option value="14">--------白切鸡</option>
                                    <option value="15">--------隆江猪脚</option>
                                    <option value="10">----川菜</option>
                                </select>
                                <div class="clear"></div>
                            </div>
                            <div class="st-form-line">
                                <span class="st-labeltext">状态</span>
                                <select class="uniform" name="status">
                                    <option value="">任意</option>
                                    <option value="2">草稿</option>
                                    <option value="1">公开</option>
                                    <option value="3">隐藏</option>
                                </select>
                                <div class="clear"></div>
                            </div>
                            <div class="st-form-line" style="z-index: 620;">
                                <span class="st-labeltext">置顶</span>
                                <label class="margin-right10">
                                    <div class="radio">
                                        <span><input type="radio" name="toped" class="uniform" value="" checked></span>
                                    </div> 不限
                                </label>
                                <label class="margin-right10">
                                    <div class="radio">
                                        <span><input type="radio" name="toped" class="uniform" value="1"></span>
                                    </div> 置顶
                                </label>
                                <label class="margin-right10">
                                    <div class="radio">
                                        <span><input type="radio" name="toped" class="uniform" value="2"></span>
                                    </div> 不置顶
                                </label>

                                <div class="clear" style="z-index: 610;"></div>
                            </div>
                            <div class="button-box" style="z-index: 460;">
                                <input type="submit" name="button" id="button" value="提交" class="st-button">
                            </div>
                        </form>

                    </div>
                </div>

                <!-- START TABLE -->
                <div class="simplebox grid740">

                    <div class="titleh">
                        <h3>博文列表</h3>
                    </div>

                    <table id="myTable" class="tablesorter">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>作者</th>
                            <th>分类</th>
                            <th>标题</th>
                            <th>发布日期</th>
                            <th>评论数量</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach from=$articles key=k item='article'}
                        <tr>
                            <td>{$k+1}</td>
                            <td>张学友</td>
                            <td>{$article.c_name}</td>
                            <td>{$article.a_name}</td>
                            <td>{$article.a_publishtime|date_format:'%Y-%m-%d'}</td>
                            <td>12</td>
                            <td>{$article.a_sort}</td>
                            <td>
                                <a href="index.php?p=back&m=article&a=edit&id={$article.id}">编辑</a>
                                <a href="index.php?p=back&m=article&a=delete&id={$article.id}" onclick="return confirm('是否确定删除文章：{$article.a_name}？');">删除</a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <ul class="pagination">
                        {$pagestring}
                    </ul>
                </div>
                <!-- END TABLE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END PAGE -->
        <div class="clear"></div>
    </div>
    <!-- END MAIN -->

    <!-- START FOOTER -->
    {include file='App/Back/View/Public/footer.html'}
    <!-- END FOOTER -->
</div>
</body>
</html>